body {
    font-family: Arial, sans-serif;
    background-color: pink; 
    margin: 0;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}


#background-objects {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none; 
}
